* {
    margin: 0px;

    padding: 0px;
    box-sizing: border-box;
}


.container {
    max-width: 80%;
    background-color: rgb(183, 125, 183);
    padding: 34px;
    margin: auto;
}

.container h3,
p {
    text-align: center;
}

input,
textarea {
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0;
    padding: 7px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btr {
    padding: 8px 12px;
    font-size: 20px;
    background-color: rgb(153, 43, 153);
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;

}

.bg {
    width: 100%;
    position: absolute;
    opacity: 0.6;
}

.submitMsg {
    color: green;
}